

/* Home Page Styling */

body {
  background-color: slategray;
  width: 960px;
  margin: auto;
}

#salmonMainPic {
  border: red;
  border-radius: 35em;
  padding: 3%;
}

ul{
  border: 3px white solid;
  margin-left: auto;
  border-radius: 35em;
  display: inline;
  padding: 30px 10px;
  background-color: lightcoral; 
}

li {
  margin: 4%;
  display: inline;
  text-align: center;
  vertical-align: middle;
}