

/* Home Page Styling */

body {
  background-color: lightslategray;
  width: 960px;
  margin: auto;
}

header {
  margin: 3%;
  padding: 3%;
  width: auto;
  border: 3px white solid;
  border-radius: 35em;
  background-color: lightcoral;
}

li {
  margin: 3%;
  display: inline;
  text-align: center;
  vertical-align: middle;
}

footer {
  margin: auto;
  padding: 3%;
  width: auto;
  border: 3px white solid;
  border-radius: 35em;
  background-color: lightcoral;
}