h1 {
  background-color: red;
}

h2 {
  color: green;
}

th {
  margin-left: 30px;
  padding-left: 10px;
  color:yellow;
  background-color: blue;
}

td {
  color:green;
}

tfoot {
  margin-left: 30px;
  padding-left: 10px;
  color:yellow;
  background-color: blue;
  font-size: 20px;
}